*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "custom-font";
}
@font-face {
    font-family: "custom-font";
    src: url("https://static1.lenskart.com/media/desktop/img/Apr22/LenskartSans-Regular.otf");
}
@font-face {
    font-family: "custom-lens1";
    src: url("https://static1.lenskart.com/media/desktop/img/Apr22/LenskartSans-Hairline.otf");
}
@font-face {
    font-family:"custom-lens2";
    src: url("https://static1.lenskart.com/media/desktop/img/Apr22/Lenskart-Serif-Book.otf");
}
@font-face {
    font-family:"custom-lens" ;
    src: url("https://static1.lenskart.com/media/desktop/img/Apr22/Lenskart-Serif-UltraLight.otf");
}
/* Navbar section */
.nav-sec1{
    padding:7px 30px;
    display: flex;
    justify-content: space-between;
    font-family: "custom-font";
}
.nav-sec1 li{
    display: inline-flex;
    border-right:1px solid black ;
    padding:5px 5px;
}
.nav-sec1 ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.contact li{
    border:none
}
.contact li a{ 
    text-decoration: none;
    color:black;
    font-size: 12px;
}
a:hover{
    text-decoration: underline;
}
.nav-sec1 ul li:nth-last-child(1){
    border: none;
}

.nav-sec2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 30px;
}
.nav-sec2 li{
    display: inline-block;
}
.nav-sec2 li a{
    text-decoration: none;
    color:black;
}
/* navbar -upper section */
/*navbar logo part */
.logo img{
    width:200px;
}
.text-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-search .phone img{
    padding-right: 30px;
    width:150px;
}
.text-search input{
    width:600px;
    padding:10px 10px;
    border-radius: 6px;
    border: 1px solid black;
}
.magnifying-glass{
    position: relative;
    right:30px;

}
.text-search input:focus{
    border: 1px solid black;
}
.text-search span{
    padding-right: 20px;
    font-weight: bolder;
    font-size: 20px;
}
.track-orders li a{
    padding:0px 8px;
    font-size: 12px;
}
.track-orders i{
    padding: 0px 5px;
}

/* navbar logo  */ 
/* navbar link */
.glass-links{
    padding:10px 30px;
    background-color: whitesmoke;
    margin:0px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.glass-links li{
    display: inline-block;
    font-size: 13px;
}
.glass-links a{
    text-decoration: none;
    color:black;
    padding: 10px 5px;
}

/* navbar links */

/* main-page content */
.main{
    background-color: #000042;
    height: 85vh;
    font-family: "custom-font";
}
.main h1{
    text-align: center;
    padding: 60px 0px;
    color:white;
    font-family: "custom-font";
    font-size: 30px;
}
.main-content{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    color: white;
}
.main-content .texts {
    width:800px;
}
.main-content h2{
    font-size: 55px;
    text-align: start;
    padding-left: 30px;
}
.main-content .texts-1 {
    width:579px;
    line-height: 30px;
    font-size: 22px;
    padding-left: 30px;
    margin: 20px 0px;
    text-align: start;
}
iframe{
    width:700px;
    height: 380px;
}


/*main page Content*/
/*simple content */
.do-more{
    height: 50vh;
    text-align: center;
    background-color: #e3f6f5;
    display: flex;
    justify-content: center;
    padding:80px 0px;
}
.do-more h2{
    font-family:"custom-lens";
    padding: 0;
    font-size: 100px;
}
.do-more h3{
    font-size: 40px;
}
.do-more h4{
    padding: 10px 0px;
    font-size: 30px;
}
/* simple content */
footer img{
    width: 100%;
    height: 30vh;
}

.hero {
    color: #00003e;
    padding: 40px 0px;
    text-align: center;
}

.hero h1 {
    margin: 0;
    font-size: 55px;
    font-weight: lighter;
    font-family: "custom-lens";
}

.hero h4 {
   padding-top: 40px;
    font-weight: lighter;
    font-size: 25px;
}
.hero p{
    font-size: 25px;
    padding: 20px 330px;
    text-align: center;
}

.hero span {
    display: block;
}

/* carousel */
.slider-container{
    position: relative;
    overflow: hidden;
    height: 400px;
  }
.slider-width {
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-wrap: nowrap;
    width:100vw;
    padding: 0px 40px;
    transition: all 0.5s;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #00003e;
}
.item > .text{
    height: 200px;
    padding:15px;
    background-color: #e4faf2;
    color:#00003e;
}
.item img{
    width: 100vh;
}
.item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.item p {
    width:500px;
    font-size: 16px;
    line-height: 1.5;
}
.carousel-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
  }
  .carousel-buttons button{
    border: none;
    background-color: white;
  }
.dots{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding:30px 0px;
} 

.last-frame{
    background-color: #e3f6f5;
    padding:30px 0px;
}
.images img {
    height: 350px;
    width: 400px;
}

.images{
    display:flex;
    justify-content: space-around;
    padding: 50px 50px;
}

.images h1 {
    text-align: center;
    font-size: 40px;
    padding: 20px 0px;
    font-weight: 100;
    font-weight: normal;
}

.images p {
    text-align: center;
    font-weight: 100;
    font-size: 25px;
}

.header h1 {
    text-align: center;
    font-size: 48px;
    font-family: "custom-lens";
    font-weight: 100;
}

.header p {
    text-align: center;
    font-size: 25px;
    padding: 0px 330px;
    margin-top: 25px;
    
}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
}
.container-1 h2{
    font-family: "custom-lens";
    font-size: 60px;
    font-weight: lighter;
}
.container-1 p{
    width:850px;
    padding:10px;
    font-size: 20px;
    text-align:center;
}
.child-cont1{
    display: flex;
    width:800px;
    justify-content: space-between;
    background-color: white;
    margin: 30px 0xp;
}
.child-cont1 img{
    width:50%;
}
.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    text-align: justify;
}
.child h3{
    font-family: "custom-lens1";
    font-weight: lighter;
    font-size: 40px;
    padding-bottom: 10px;
}
.child p{
    font-size: 17px;
    line-height: 26px;
}

@media (min-width:300px) and (max-width:600px) {
    .nav-sec1,.glass-links{
        display: none;
    }
    .nav-sec2 .phone,input,.magnifying-glass{
        display: none;
    }
    .nav-sec2 .track-orders{
        font-size: 10px;
        display: inline-block;
    }
    .nav-sec2 .logo img{
        width:100px;
    }
    .main{
        height: 60vh;
        width: 100%;
    }
    .main-content{
        width:400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main h1{
        padding: 20px;
    }
    .main-content h2,.main-content .texts-1{
        width:600px;
        padding-left: 230px;
        font-size: 15px;
        padding-bottom: 10px;
        margin: 5px;
        text-align: justify;  
    }
    .texts-1{
        margin: 0px;
    }
    iframe{
        width:100%;
        height:50%;
    }
    .do-more{
        width:100%;
        height: 30vh;
    }
    .do-more h2,.do-more h3,.do-more h4{
        font-size: 1.2rem;
        padding: 5px 0px;
    }
    .hero h1,.hero p,.hero h4{
        font-size: 1.4rem;
        padding: 10px 10px;
    }
    .slider-container{
        width:100%;
        padding: 0px 10px;
        display: flex;
        overflow:auto;
        margin-bottom: 20px;
    }
    .slider-width{
        display: flex;
        flex-direction: column;
    }
    .slider-container img,.slider-width,.item .text{
        width:100%;
    }
    .item h1,.item p{
        font-size: 0.6rem;
        width:100%;
    }
    .carousel-buttons{
        display: none;
    }
    .header h1,.header p{
        font-size: 1.8rem;
        padding: 0px 20px;
        text-align: center;
    }
    .images{
        display: flex;
        flex-direction: column;
    }
    .images img{
        width:100%;
    }
    .last-frame h2,.last-frame p{
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }
    .container-2{
        display: flex;
        flex-direction: column;
    }
    .child-cont1,.child-cont1 img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100%;
    }
    .child-cont1 h1,.child-cont1 p{
        text-align: justify;
    }
    
}
@media (min-width:600px) and (max-width:1000px) {
    .glass-links a{
        font-size: 12px;
    }
    .nav-sec2 input{
        width:300px;
    }
    .nav-sec2 .track-orders{
        font-size: 10px;
        display: inline-block;
    }
    .nav-sec2 .logo img{
        width:100px;
    }
    .main{
        height: 60vh;
        width: 100%;
    }
    .main-content{
        display: flex;
        justify-content:space-between;
    }
    .main h1{
        padding: 20px;
    }
    .main-content h2{
        width:450px;
        font-size: 35px;
        padding-bottom: 10px;
        margin: 5px;
        text-align: start;  
    }
    .main-content .texts-1{
        width:400px;
        font-size: 15px;
        padding-bottom: 10px;
        margin: 5px;
        text-align: start;
    }
    .texts-1{
        margin: 0px;
    }
    iframe{
        width:400px;;
        height:300px;
    }
    .do-more{
        width:100%;
        height: 40vh;
        padding: 20px 0px;
    }
    .hero p {
        font-size: 1.4rem;
        padding: 10px 100px;
    }
    .slider-container{
        width:100%;
        padding: 0px 10px;
        display: flex;
        margin-bottom: 20px;
    }
    .header h1,.header p{
        font-size: 1.8rem;
        padding: 0px 20px;
        text-align: center;
    }
    .images img{
        width:100%;
    }
    .images h1,.images p{
        font-size: 20px;
    }
    
}
@media (min-width:1000px) and (max-width:1300px) {
    .glass-links a{
        font-size: 12px;
    }
    .nav-sec2 input{
        width:500px;
    }
    .nav-sec2 .track-orders{
        font-size: 10px;
        display: inline-block;
    }
    .nav-sec2 .logo img{
        width:100px;
    }
    .main{
        height: 80vh;
        width: 100%;
    }
    .main-content{
        display: flex;
        justify-content:space-between;
    }
    .main h1{
        padding: 20px;
    }
    .main-content h2{
        width:600px;
        font-size: 45px;
        padding-bottom: 10px;
        margin: 5px;
        text-align: start;  
    }
    .main-content .texts-1{
        width:550px;
        font-size: 20px;
        padding-bottom: 10px;
        text-align: start;
    }
    iframe{
        width:500px;;
        height:400px;
    }
    .do-more{
        width:100%;
        height: 40vh;
        padding: 20px 0px;
    }
    .hero p {
        font-size: 1.4rem;
        padding: 10px 100px;
    }
    .slider-container{
        width:100%;
        padding: 0px 10px;
        display: flex;
        margin-bottom: 20px;
    }
    .header h1,.header p{
        font-size: 1.8rem;
        padding: 0px 20px;
        text-align: center;
    }
    .images img{
        width:100%;
    }
    .images h1,.images p{
        font-size: 20px;
    }
    
}